# Development options
DEV_MODE=1

# Logs configuration
LOG_PATH=/logs

# Data configuration
DATA_PATH=/data
DATA_MAX_SIZE_MB=100

# Database configuration
DB_SERVERNAME=127.0.0.1
DB_USERNAME=<USER>
DB_PASSWORD=<PASSWORD>
DB_DATABASE=<DATABASE_NAME>